.current-weather {
  display: flex;
}
.current-weather-item {
  width: 45%;
  flex-direction: row;
  margin-top: 30px;
}
.current-icon {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 40px;
}

.list {
  flex-wrap: 'wrap';
}

.list-item {
  display: flex;
  width: 100%;
}

.list-content {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.list-content strong {
  margin-bottom: 5px;
}
